---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Acerca del Proyecto">
  <h1>Acerca de este proyecto</h1>

  <p>El Astro Spaces &#x1F680 es una demo para mi primera app web con Astro</p>
</Layout>