---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Astro Spaces.">
	<main>
	  <Header />
	</main>

	<nav class="flex flex-col items-center justify-between w-full text-center md_flex-row">
		<a href="/" class="text-white">Ultimos lanzamientos</a>
		<a href="/oldest" class="text-white">Los mas viejos</a>
	</nav>
</Layout>
